<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>

    <h1>
      This Admin panel
    </h1>
    <h2>
        Choose Data to change
    </h2>
    <div>
        <li><a href="admin/attendance">Attendance</a></li>
        <li><a href="admin/classroom">Classroom</a></li>
        <li><a href="admin/course">Course</a></li>
        <li><a href="admin/student">Student</a></li>
        <li><a href="admin/teacher">Teacher</a></li>
    </div>
</body>
</html>